.main-body,
.core,
.sparks {
  fill: transparent;
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.03s;
}

.like-icon:not(:hover) .core {
  transition-delay: 0.03s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon:not(:active) .core {
  transition-delay: 0.03s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: pulse 0.3s ease-in-out 0.06s 1 forwards;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: spark 0.3s ease-in-out 0.12s 1 forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spark {
  0% {
    fill: none;
  }
  50% {
    fill: var(--animation-fill-color);
  }
  100% {
    fill: none;
  }
}
