
.filter-shiny-light {
  filter: contrast(1.3) brightness(1.1);
}

.filter-blur {
  filter: blur(2px);
}

.filter-retro-tv {
  filter: sepia(50%);
}

.filter-color-swap {
  filter: hue-rotate(260deg);
}

.filter-light-color-swap {
  filter: hue-rotate(300deg) brightness(1.1) contrast(1.2);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-invert-color {
  filter: invert(1);
}